
.style_replacer_static {
    background-color: #CCCCCC;
    color: black;

    height: 400px;
    width: 750px;

    box-shadow: 8px 8px 5px #444;
    background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);

    padding: 7px;
    border-width: 3px;
    border-color: black;
    border-style: double;
    font-family: sans-serif;
}
